.nav_link.active {
	color: #ffffff;
	font-weight: 500;
	background: #00A8C9;
	border-radius: 32px;
}

.nav_link {
	&:hover {
		color: #ffffff;
		background: rgb(0 168 201 / 70%);
		border-radius: 32px;
		cursor: pointer;
	}
}
