$height-navbar: 80px;

body{
	background-color: #F9F9F9 !important;
	font-family: "Prompt" !important;
	min-height: 100vh;
	padding-top: $height-navbar;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #555;
}

.rnf-notification-icon-button svg {
	fill:white !important;
}

.dropdown-item {
	&:hover,
	&:focus,
	&.active,
	&:active {
		border-radius: $border-radius-lg;
	}
}

.outline-none {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.disabled {
	pointer-events: none;
	opacity: 0.65;
}

#nprogress .bar {
	border-top-right-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
	box-shadow: inset 0 0 6px rgb(0 0 0 / 30%) !important;
	background-color: #555 !important;
	height: 8px !important;
}

#nprogress .peg {
	box-shadow: none !important;
}

.cursor-pointer {
	cursor: pointer;
}

.rounded-16{
	border-radius: 16px;
}

.loading-animation {
	border-radius: 5px;
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.1) 10%,
		rgba(0, 0, 0, 0.05) 25%,
		rgba(255, 255, 255, 0.1) 40%
	);
	box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.025);
	background-size: 800px 104px;
	position: relative;
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0;
	}
	100% {
		background-position: 468px 0;
	}
}

.sticky-top {
	top: calc(#{$height-navbar} + 1.5rem) !important;
}

.wapper__card {
	overflow-wrap: anywhere;
}

/* 404 Page */

.notfound {
	margin-top: -$height-navbar;
}

.notfound .display-404 {
	font-size: 16rem;
	font-weight: 1000;
}

@media (max-width: 576px) {
	.notfound .display-404 {
		font-size: 8rem;
		font-weight: 900;
	}
}

.btn-line-login {
	background-color: #00ba00;
	color:#fff !important;
	font-weight: 700;
}


.none {
	display: none;
}

.badge-profile {
	float: left;
	margin-right: 10px;
}

.tag {
	background-color: #4cba64 !important;
    color: #fff !important;
    border-radius: 10px !important;
    padding: 2px 5px !important;
    margin: 3px !important;
}

.dzu-dropzone {
	overflow: auto !important;
}

.card .action {
    right: 20px !important;
}

.card .action-2 {
    right: 50px !important;
}

.card.stats,.card.badges {
	background-color: #d1dcec;
}

 .sb-card-header {
	border-radius: 0px !important;
	float: left;
    background: #142440 !important;
    color: #fff;
    width: 120px;
    text-align: center;
    font-size: 18px;
    padding: 0px;
}
.card.stats .card-body .card {
	    min-height: 250px;
	border-radius: 10px !important;
}

.card.stats .stat-label {
	font-size:24px;
	color:#00A8C9;
	font-weight: 700;
}

.card.badges .stat-label {
	font-size:24px;
	color:#00A8C9;
	font-weight: 700;
}
.card.badges .card-body .card  {
	border-radius: 10px !important;
	max-height: 160px;
}
.badge-icon {
	float:left;
}

.badge-text-1 {
	font-size:60px;
	background-color: #00A8C9;
	color:#fff;
	border-radius: 10px;
	padding:10px;
}

.badge-text-2 {
	font-size:60px;
	background-color: #00A8C9;
	color:#fff;
	border-radius: 10px;
	padding:10px;
}

.badge-text-3 {
	font-size:60px;
	background-color: #00A8C9;
	color:#fff;
	border-radius: 10px;
	padding:10px;
}

.table thead th {
	background: #00A8C9;
    color: #fff;
}

.btn, .form-control {
	border-radius: 32px;
}

.card{
	border-radius: 16px;
}

.form-control{
	border: 1px solid #D6D4D4;
}

.btn-badge {
	background-color: #00A8C9;
}
    


.btn-primary {
    color: #fff;
    background-color: #00A8C9;
    border-color:#00A8C9;
}

.btn-primary:hover {
    color: #fff;
    background-color: #00A8C9;
    border-color: #00A8C9;
}

.bg-primary{
	background-color: #00A8C9 !important;
}

.btn-outline-primary {
    color: #00A8C9;
    border-color: #00A8C9;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #00A8C9;
    border-color: #00A8C9;
}


.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
    color: #fff;
    background-color: #00A8C9;
    border-color: #00A8C9;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: #00A8C9;
    border-color: #00A8C9;
    box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

.btn-list{
	display: flex;
    font-weight: 400;
    line-height: 1.2;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #D6D4D4;
    padding: 0.375rem 0.75rem;
    font-size: 0.85rem;
    border-radius: 16px;
	height: 56px;
	align-items: center;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-status{
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 16px;
	border: 1px solid #D6D4D4;
	border-radius: 50%;
	&.done{
		background-color: #00ba00;
		border: 1px solid #00ba00;
	}
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #00A8C9;
}

.bg-secondary{
	background-color: #FA602F !important;
}

.navbar {
  border-bottom: solid 1px #EBEBEB;
}
.bottom-tab-nav {
  box-shadow: 0 0.125rem 2.25rem rgba(0, 0, 0, 0.075) !important;
  border-top: solid 1px #EBEBEB;
  max-height: 70px;
    padding: 0;
}
.nav-link.nav-footer-checkin {
	margin-top: -20px;
}
.nav-link,
.bottom-nav-link {
  color: #55575b;
}
.bottom-nav-link.active {
  color: #922c88;
}

h1.post-title {
	font-size: 36px !important;
}

.progress {
	background-color: #D6D4D4;
	border-radius: 0.5rem;
	box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.flex-1{
	flex: 1;
}

.btn svg {
	float: left;
}

#__next > .container-xl {
	    margin-bottom: 80px;
    margin-top: 15px;
}

.object-fit-cover{
	object-fit: cover;
}

iframe{
	width: 100%;
}

.popover{
	font-family: "Prompt" !important;	
}
.page-link{
	color: #00A8C9;
}
.page-item.active .page-link{
	background-color: #00A8C9;
    border-color: #00A8C9;
}

.bottom-tab-label{
	font-size: 12px;
}

.text-primary{
	color: #00A8C9 !important;
}

.loading-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}