$height-navbar: 80px;

body{
	background-color: #F9F9F9 !important;
	font-family: "Prompt" !important;
	min-height: 100vh;
	padding-top: $height-navbar;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #555;
}

.rnf-notification-icon-button svg {
	fill:white !important;
}

.dropdown-item {
	&:hover,
	&:focus,
	&.active,
	&:active {
		border-radius: $border-radius-lg;
	}
}

.outline-none {
	outline: 2px solid transparent;
	outline-offset: 2px;
}

.disabled {
	pointer-events: none;
	opacity: 0.65;
}

#nprogress .bar {
	border-top-right-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
	box-shadow: inset 0 0 6px rgb(0 0 0 / 30%) !important;
	background-color: #555 !important;
	height: 8px !important;
}

#nprogress .peg {
	box-shadow: none !important;
}

.cursor-pointer {
	cursor: pointer;
}

.rounded-16{
	border-radius: 16px;
}

.loading-animation {
	border-radius: 5px;
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: linear-gradient(
		to right,
		rgba(255, 255, 255, 0.1) 10%,
		rgba(0, 0, 0, 0.05) 25%,
		rgba(255, 255, 255, 0.1) 40%
	);
	box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.025);
	background-size: 800px 104px;
	position: relative;
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0;
	}
	100% {
		background-position: 468px 0;
	}
}

.sticky-top {
	top: calc(#{$height-navbar} + 1.5rem) !important;
}

.wapper__card {
	overflow-wrap: anywhere;
}

/* 404 Page */

.notfound {
	margin-top: -$height-navbar;
}

.notfound .display-404 {
	font-size: 16rem;
	font-weight: 1000;
}

@media (max-width: 576px) {
	.notfound .display-404 {
		font-size: 8rem;
		font-weight: 900;
	}
}

.btn-line-login {
	background-color: #00ba00;
}


.none {
	display: none;
}

.badge-profile {
	float: left;
	margin-right: 10px;
}

.tag {
	background-color: #4cba64 !important;
    color: #fff !important;
    border-radius: 10px !important;
    padding: 2px 5px !important;
    margin: 3px !important;
}

.dzu-dropzone {
	overflow: auto !important;
}

.card .action {
    right: 20px !important;
}

.card .action-2 {
    right: 50px !important;
}

.card.stats,.card.badges {
	background-color: #d1dcec;
}

 .sb-card-header {
	border-radius: 0px !important;
	float: left;
    background: #142440 !important;
    color: #fff;
    width: 120px;
    text-align: center;
    font-size: 18px;
    padding: 0px;
}
.card.stats .card-body .card {
	    min-height: 250px;
	border-radius: 10px !important;
}

.card.stats .stat-label {
	font-size:24px;
	color:#00A8C9;
	font-weight: 700;
}

.card.badges .stat-label {
	font-size:24px;
	color:#00A8C9;
	font-weight: 700;
}
.card.badges .card-body .card  {
	border-radius: 10px !important;
	max-height: 160px;
}
.badge-icon {
	float:left;
}

.badge-text-1 {
	font-size:60px;
	background-color: #00A8C9;
	color:#fff;
	border-radius: 10px;
	padding:10px;
}

.badge-text-2 {
	font-size:60px;
	background-color: #00A8C9;
	color:#fff;
	border-radius: 10px;
	padding:10px;
}

.badge-text-3 {
	font-size:60px;
	background-color: #00A8C9;
	color:#fff;
	border-radius: 10px;
	padding:10px;
}

.table thead th {
	background: #00A8C9;
    color: #fff;
}

.table .thead {

}

.btn, .form-control, .card{
	border-radius: 32px;
}

.form-control{
	border: 1px solid #D6D4D4;
}

.btn-badge {
	background-color: #00A8C9;
}
    


.btn-primary {
    color: #fff;
    background-color: #00A8C9;
    border-color:#00A8C9;
}

.btn-outline-primary {
    color: #00A8C9;
    border-color: #00A8C9;
}

.bg-secondary{
	background-color: #FA602F !important;
}

.navbar {
  border-bottom: solid 1px #EBEBEB;
}
.bottom-tab-nav {
  box-shadow: 0 0.125rem 2.25rem rgba(0, 0, 0, 0.075) !important;
  border-top: solid 1px #EBEBEB;
  max-height: 70px;
    padding: 0;
}
.nav-link.nav-footer-checkin {
	margin-top: -37px;
}
.nav-link,
.bottom-nav-link {
  color: #55575b;
}
.bottom-nav-link.active {
  color: #922c88;
}

h1.post-title {
	font-size: 36px !important;
}
// .bottom-tab-label {
//   font-size: 13px;
// }